
.user-profiles-list-small{
    list-style:none;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0;
}

.user-profiles-list-small li{
    display: inline-block;
    box-sizing:border-box;
    position: relative;

    text-align:left;
    font:normal 14px sans-serif;

    background-color:#e6eef2;
    border:1px solid #dbe3e7;
    box-shadow: 0 2px 3px #dbe3e7;
    border-radius: 25px;

    width:260px;
    margin: 12px;
}
.user-profiles-list-small :hover {
  background-color: #ccffcc;
  color: white;
}

.user-profiles-list-small .user-avatar{
    float: left;
    padding: 10px 15px;
}

.user-profiles-list-small .user-avatar img{
    border-radius: 50%;
    border:0;
}

.user-profiles-list-small .user-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin: 19px 0 0;
    max-width: 150px;
}

.user-profiles-list-small .user-name a{
    color:#5d6569;
    text-decoration: none;
    font-weight: bold;
}

.user-profiles-list-small .user-name span{
    display: block;
    font-size: 11px;
    color:#808d93;
    padding-top:4px;
}

.user-profiles-list-small .user-name .feature-box { 
  margin-top: -12rem;
  top: -15rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  background-size: cover; }
  .features.box > * {
     transform: skewY(7deg); }


.user-profiles-list-small .delete{
    background-color:#de4a4a;
    border-radius: 50%;
    color:#fff;
    font-size:13px;
    line-height: 22px;
    width:22px;
    height: 22px;
    position: absolute;
    top:-10px;
    right:-10px;
    text-align: center;
    text-decoration: none;
}

